/.docz/
/.rpt2_cache/
/.vscode/
/coverage/
/docs/
/examples/
/src/**/__tests__/
/src/**/__mocks__/

*.log
*.tgz
*.mdx
*.less

/.gitignore
/.npmignore
/.prettierrc
/.prettierignore
/.travis.yml
/jest.config.js
/doczrc.js

/tslint.json
/rollup.*.js
/tsconfig*.json
