/.docz/
/.rpt2_cache/
/.vscode/
/docs/
/src/**/__tests__/
/src/**/__mocks__/

*.log
*.tgz

/.gitignore
/.npmignore
/.prettierrc
/.prettierignore
/jest.config.js

/tslint.json
/rollup.*.js
/tsconfig*.json
