/.docz/
/.rpt2_cache/
/.vscode/
/docs/
/examples/
/src/**/__tests__/
/src/**/__mocks__/

*.log
*.tgz
*.mdx
*.less

/.doczrc.js
/.gitignore
/.npmignore
/.prettierrc
/.prettierignore
/jest.config.js

/tslint.json
/rollup.*.js
/tsconfig*.json
